<% if active_streams.empty? %>
  There are no active streams
<% else %>
  <% active_streams.each do |stream| %>
    <a href="<%= play_url(name: stream.id) %>">
      <img src="<%= stream.last['image_url'] %>" alt="<%= stream.last['image_name'] %>" width="80" />
    </a>

    <br />
  <% end %>
<% end %>



<br /><br />
<a href="<%= new_stream_url %>">+ Create new stream</a>
