<div class="container">
  <% if active_streams.empty? %>
    <h2>There are no active streams</h2>
  <% else %>
    <ul>
      <h2>Active streams</h2>
      <% active_streams.each do |stream| %>
          <li><a href="<%= play_url(name: stream.id) %>"><img src="<%= stream.last['image_url'] %>" alt="<%= stream.last['image_name'] %>" width="250" /></a></li>
      <% end %>
    </ul>

    <div style="clear:both;"></div>
  <% end %>

  <br /><br /><br />

  <div style="text-align: center; font-size:25px;">
    <a href="<%= new_stream_url %>" style="text-decoration: none;">+ Create new stream</a>
  </div>

</div>
