<div class="container">
  <% unless current_stream.notifications.empty? %>
    <div class="alerts">
      <h2>ALERT</h2>
      The following items have been detected: <%= current_stream.notifications.join(', ') %>
    </div>

    <br />
  <% end %>

  <div class="play">
    <img class="latest_image" src="<%= current_stream.last['image_url'] %>" alt="<%= current_stream.last['image_name'] %>" />
    <br />
    TAGS: <%= current_stream.last['tags'].join(', ') %>
  </div>
</div>

<script type="text/javascript">
  function reload()
  {
    window.location.reload();
  }
  delay_for = 5;
  setTimeout(reload, delay_for*1000);
</script>