<div class="container">
  <% unless current_stream.notifications.empty? %>
    <p class="alert">
      ALERT!! The following items have been detected: <%= current_stream.notifications.join(', ') %>
    </p>
  <% end %>

  <div class="play">
    <img class="latest_image" src="<%= current_stream.last['image_url'] %>" alt="<%= current_stream.last['image_name'] %>" />
  </div>

  TAGS: <%= current_stream.last['tags'].join(', ') %>
</div>

<script type="text/javascript">
  function reload()
  {
    window.location.reload();
  }
  delay_for = 5;
  setTimeout(reload, delay_for*1000);
</script>