<div class="container">
  <div class="camera">
    <strong>RECORDING</strong>

    <br /><br />

    <video id="video">Video stream not available.</video>
    <button id="startbutton" style="display: none">Take photo</button>
  </div>

  <canvas id="canvas"></canvas>
</div>