<!DOCTYPE html>
<html>
<head>
  <title>Photohackday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">Video Tags</div>

<%= yield %>

<div id="footer">&copy; photohackday</div>

</body>
</html>
